# 環境変数
.env

# Node
node_modules/
npm-debug.log
yarn-error.log

# ビルド生成物
dist/
build/
.vite/
.cache/

#特定フォルダ
memo

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
. e n v  
 n o d e _ m o d u l e s /  
 
